#Connection parameters for Xeams.
#Steps to create an API Token in Xeams:
# 1 - Log in as an administrator to your Xeams console.
# 2 - Click Home > Plugins and select Manage for Xeams API
# 3 - Create a new API token with permission to send emails.
# 4 - Copy/paste the API key and secret below. 
# 5 - XEAMS_API_BASE refers to the URL where your Xeams is running
# 6 - Sender's Email refers to your email address.

XEAMS_API_KEY=Paste.Your.Api.Key.Here
XEAMS_SECRET=Past.Your.Secret.Here
XEAMS_API_BASE=https://mail.yourcompany.com
SENDER_EMAIL=your.email@example.com

